{
"parser": "babel-eslint",
  "rules": {
    "no-unused-vars":"warn",
    "semi":"off",
    "linebreak-style":"off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier/react",
    "prettier"
  ]
}